/* /////////////// */
/* Content of Page */

#content {
    margin-top: 1.5vw;
}

#short-description {
     
    font-size: 3vw;
}

#split-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#education {
    font-size: 2.2vw;
    margin-top: 3.5vw;
    margin-bottom: 2vw;
}

#study-road {
     
    font-size: 1.5vw;
    margin-bottom: 1.3vw;
}

#radek-img {
    margin-top: 3vw;
    width: 26vw;
}

#faq {
    margin-top: 2.5vw;
    font-size: 2.8vw;
    margin-bottom: 0.7vw;
}

#all-process {
  font-family: grotesk;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
}

#invisible-text-one, #invisible-text-two, #invisible-text-three, #invisible-text-four, #invisible-text-five {
  /* visibility: visible; */
  display: none;
  font-family: grotesk;
  max-width: 55vw;
  margin-left: 2vw;
}

#content-single-process {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-top: 0.8vw; */
  /* padding-bottom: 0.8vw; */
}

#content-with-invisible-text {
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
  border-bottom: 0.13vw solid black;
  width: 55vw;
}

  #achievement {
    font-size: 2vw;
    /* margin-top: 2vw; */
    margin-bottom: 1.5vw;
  }

  #achievement-description {
    font-size: 1vw;
    font-style: italic;
    max-width: 50vw;
    margin-bottom: 5vw;
  }

  #content-right-bottom {
    width: 26vw;
  }

  #collaboration {
    font-size: 2vw;
    /* margin-top: 20vw; */
    /* justify-content: center; */
    margin-bottom: 1.5vw;
  }

  #collaboration-description {
    max-width: 20vw;
    font-size: 1vw;
    font-style: italic;
  }

  .arrow {
    margin-left: 10vw;
    margin-right: 2.3vw;
    cursor: pointer;
  }
  .arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 0.2vw;
    border-right-style: solid;
    border-right-width: 0.2vw;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 1.7vw;
    height: 1vw;
    width: 1vw;
  }
  .arrow.arrow-bar::before {
    transform: rotate(-45deg);
  }
  .arrow.is-bottom {
    transform: rotate(45deg);
  }  


  
