@font-face {
    font-family: grotesk;
    src: url("/fonts/FontThin.ttf");
  }

body {
    margin:2vw;
    font-family: grotesk;
}

#href-normal-text {
    color: black;
    text-decoration: none;
}

#title {
    display: flex;
    margin-bottom: -0.5vw;
}

#name {
    font-family: grotesk;
    font-size: 7vw;
    margin-right: 1vw;
}

#freelance {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: grotesk;
    font-size: 2.5vw;
    font-style: italic;
    padding-bottom: 1.3vw;
}

#navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#language {
    margin-top: 0.22vw;
}

#navbar-right {
    font-family: grotesk;
    display: flex;
    justify-content: right;
    font-size: 1.5vw;

}

#navbar {
    border-top: 0.145vw solid black;
    border-bottom: 0.145vw solid black;
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    position: sticky;
    width: 100%;
    top: 40vw;
    background-color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
}

#navbar-topbar {
    position: sticky;
    top: 0vw;
    background-color: white;
    height: 4vw;
    width: 100%;

}

#navbar-el {
    font-family: grotesk;
    font-size: 2vw;
}
  /* Footer */
  

  #collaborate-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#collaborate-text {
    font-size: 6vw;
}

#contact {
    text-align: right;
    font-size: 1.7vw;
}

#back-to-top {
    max-width: 12vw;
    font-size:2vw;
}

#back-to-top:hover {
    cursor: pointer;
}

  /* Arrows */

  .bottom-arrow-line {
    margin-top: 3.7vw;
    width: 48vw;
    background: black;
    height: 0.3vw;
  }