/* Content of Page */

#content {
    margin-top: 1.5vw;
}

#short-description {
    font-family: grotesk;
    font-size: 2.6vw;
}

#selected-works {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    font-family: grotesk;
    font-size: 3vw;
}

#view-more {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 3vw;
    font-family: grotesk;
    font-size: 1.5vw;
    font-style: italic;
    padding-bottom: 0.27vw;
}

#selected-work-description {
    margin-top: 15vw;
}
#work-example-img {
    margin-top: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#description-split {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}

#design-process-description {
    max-width: 35vw;
    font-family: grotesk;
    font-size: 1.4vw;
    font-style: italic;
}

#all-process {
    font-family: grotesk;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
}

#invisible-text-one, #invisible-text-two, #invisible-text-three, #invisible-text-four {
    /* visibility: visible; */
    display: none;
    font-family: grotesk;
    max-width: 45vw;
    margin-left: 2vw;
}

  #content-single-process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 0.8vw; */
    /* padding-bottom: 0.8vw; */
  }

  #content-with-invisible-text {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    border-top: 0.13vw solid black;
    width: 50vw;
  }

  .arrow {
    margin-left: 10vw;
    margin-right: 2.3vw;
    cursor: pointer;
  }
  .arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 0.2vw;
    border-right-style: solid;
    border-right-width: 0.2vw;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 1.7vw;
    height: 1vw;
    width: 1vw;
  }
  .arrow.arrow-bar::before {
    transform: rotate(-45deg);
  }
  .arrow.is-bottom {
    transform: rotate(45deg);
  }
  
  