#content {
    margin-top: 1.5vw;
    font-family: grotesk;
    font-size: 1.5vw;
}

#grid {
    float:left; 
}

#grid div {
    float: left;
}

#grid div img{
    width: 31vw;
}

p {
    margin: 0;
    margin-bottom: 0.4vw;
}